* {
  margin: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: repeat;
}

/* Navigation Bar */
.nav--top{
  padding-top: 120px;
  padding-bottom: 65px;
}

ul {
  text-align: center;
  padding: 15px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  display: inline;
}

li a {
    color: #666;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #008080;
}
/********************/

#contentbody {
  padding: 15px;
  height: 340px;
  width: 80%;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #f3f3f3;
  border: 1px solid black;

}
